{% extends 'quanly/quanly.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Email{% endblock title %}

{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Email</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'quanly:dashboard' %}">Quản lý</a></li> 
                <li class="breadcrumb-item active">Email</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">

        <div class="row" 
            hx-trigger="load, listChange from:body"
            hx-get="{% url 'quanly:email_list' %}"
            hx-target="this">

        </div>

    </section>
</main>
<!-- End #main -->

{% endblock content %}

