<div id="subcategory-list-container">

    <!-- Category List -->
    <div class="col-12" >
        <div class="card recent-sales overflow-auto" >
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Danh mục phụ 
                        <!-- <span>| Gần đây</span> -->
                    </h5>
                    <a type="button" class="card-title"
                        hx-get="{% url 'quanly:add_subcategory' %}" hx-target="#dialog">
                        <i class="bi bi-plus-circle"></i> Thêm danh mục phụ
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless table-hover align-middle">
                        <thead>
                            <tr>
                                <th>Danh mục</th>
                                <th>Danh mục phụ</th>
                                <!-- <th class="text-center">Số sản phẩm</th> -->
                                <th class="text-center">Sửa</th>
                            </tr>
                            </thead>
                        <tbody>
                            {% for subcategory in page_obj_subcategory %}
                            <tr id="subcategory-{{subcategory.id}}">
                                <td>{{subcategory.category.get_icon}} {{subcategory.category.name}}</td>
                                <td>{{subcategory.get_icon}} {{subcategory.name}}</td>
                                <td class="text-center">
                                    <a  style="cursor: pointer;" class="link-primary"
                                        hx-get="{% url 'quanly:edit_subcategory' subcategory.id %}"
                                        hx-target="#dialog">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>
    </div>

    <!-- Pagination -->
    {% include 'quanly/pagination.html' with page_obj=page_obj_subcategory %}

</div>
